<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar *ngIf="loginService.isAuthenticated" color="primary">
        <mat-toolbar-row *ngIf="loginService.isAuthenticated">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <!--  <span>HOME</span> -->
            <span>
                <button mat-mini-fab color="primary" href="/" aria-label="Login">
                    <mat-icon>home</mat-icon>
                </button>
                <!--
      <a href="/">Welcome Home</a> -->

            </span>
            <span></span>
            <span>Welcome Home</span>
            <span class="spacer"></span>
            <span>Welcome {{loginUser.name}}</span>
            <span class="spacer"></span>
            <button mat-mini-fab color="primary" routerLink="/register" aria-label="Login">
                <mat-icon>app_registration</mat-icon>
            </button>
            <button mat-mini-fab color="primary" routerLink="/login" aria-label="Login">
                <mat-icon>login</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/volume">Manage Volumes</a>
                <a mat-list-item routerLink="/cpu">Manage CPUs</a>
                <a mat-list-item routerLink="/cpu">Manage Users</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>