<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!--  <span>HOME</span> -->
        <span>
      <button mat-mini-fab color="primary" href="/" aria-label="Login">
        <mat-icon>home</mat-icon>
      </button>
      <!--
      <a href="/">Welcome Home</a> -->

    </span>
        <span></span>
        <span>Welcome Home</span>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" routerLink="/register" aria-label="Login">
      <mat-icon>app_registration</mat-icon>
    </button>
        <button mat-mini-fab color="primary" routerLink="/login" aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>